mixin text-field(fieldLabel, fieldSpan, fieldState, fieldPlaceholder, fieldValue)
  div(class=`form-text-field ${fieldState}`)(class!=attributes.class)
    label.form-text-field__label= fieldLabel
      span.form-text-field__span= fieldSpan
    input(type="text" class="form-text-field__input" placeholder=`${fieldPlaceholder}` value=`${fieldValue}`)
